<h1>Customer Details</h1>
<p>Details of the selected customer will be displayed here.</p>


<!-- Render each and every property of the Product Model -->
<div>

    
    <h2>@Model.Name</h2>
    <p>@Model.Email</p>
    <p>Phone: @Model.Phone</p>
    <p>Address: @Model.Address</p>

</div>